
 @import url('https://fonts.cdnfonts.com/css/headlines');
 @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Indie+Flower&family=Nanum+Gothic&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
 *{

  

    /* font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal; */


    font-family: "Nanum Gothic", sans-serif;
    font-weight: 600;
    font-style: normal;



    
  
  

  }
  .myfont{
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 600;
  font-style: normal;
  }
  /* input[type="time"]:before {
    content: 'HH:mm ss';
    color: #9d9d9d;
    position: absolute;
    background: #fff;
    width: 90px;
} */
/* For .datePicker */
.datePicker {
  width: 100%;
  min-height: 2.5rem; 
  border-width: 1px;
  border-style: solid;
  border-color: #000000; /* Slate 500 */
  padding-left: 1rem; /* 4px * 1 */
}

.react-datepicker {
  /* width: 200px; Set the desired width */
}

.glass{background: rgba(255, 255, 255, 0.33);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.8px);
-webkit-backdrop-filter: blur(3.8px);
border: 1px solid rgba(255, 255, 255, 1);}

