@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Indie+Flower&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap')

 /* *{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  } */